
 * { 
	box-sizing: border-box; 
    cursor: none !important;
	pointer-events: none;
 }

 html { 
 	font-family: sans-serif;
 	font-size: 4vh;
 	height: 100%;
 	width: 100%;
 }

 body {
 	margin: 0;
 	background-color: #000;
 	color: #eee;
 	height: 100%;
 	width: 100%;
	align-items: center;
 	justify-content: center;
 }

 progress {
 	font-size: 1em;
 	width: 60%;
 }

 a:any-link {
 	color: #fff;
 	text-decoration: none;
 }

 .ch-num {
 	color: #ff0;
 	font-size: 1.5rem;
 	padding: 0px;
 	position: absolute;
 	top: 5%;
 	left: 5%;
 	display: none;
 	z-index: 3;
 }

 .statusbar {
	background-color: #356;
	border-radius: 25px;
	margin-left: 25%;
	margin-right: 25%;
	position: absolute;
	text-align: center;
	width: 50%;
	height: 5vh;
	top: 95vh;
 	display: none;
	z-index: 999;
 }

 #infobar {
	background-color: transparent;
	flex-direction: column;
	align-items: center;
	display: none;
 }

 .infobar {
 	background: rgba(0, 0, 0, 0.8);
 	font-size: 1.3rem;
 	padding-left: 5%;
 	padding-right: 5%;
 	width: 100%;
 	height: 25%;
 	top: 74%;
	position: fixed;
 	display: block;
 	z-index: 4;
 }

  .infobar img {
 	height: 15%;
 	display: flex;
 	position: fixed;
 	left: 8%;
 	bottom: 3%;
 }

 
.infodescr {
	background: rgba(50, 60, 70, 0.9);
	border: 1px solid #fff;
	top: 10%;
	position: fixed;
	display: none;
	height: 60%;
	width: 70%;
	padding: 20px;
	white-space: wrap;
 	overflow-wrap: break-word;
	font-size: 0.7em;	
	overflow-y: hidden;
}

p {
	text-indent: 20px each-line;
}

 .inforow {
 	display: flex;
 	align-items: center;
 	justify-content: space-between;
 	font-size: 0.5em;
 }

 .inforow span {
 	overflow: hidden;
 	white-space: pre;
 	text-overflow: ellipsis;
 }

 #videoPlayer {
 	width: 100%;
 	height: 100%;
 	background-color: #000;
 	visibility: visible;
 	position: fixed;
 	top: 0;
 	left: 0;
 	object-fit: contain;
 	object-position: center;
 }

 .spinner-overlay {
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	background: rgba(0, 0, 0, 0.6);
 	display: flex;
	flex-direction: column;
 	align-items: center;
 	justify-content: center;
	text-align: center;
 	z-index: 2;
 	padding: 0, 0;
 	margin: 0, 0;
 }

 .circle {
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  display: inline-block;
 }

 .spinner {
	height: 15%;
 }

 .menu-wrapper {
 	background-color: rgba(0, 0, 0, 0.8);
 	width: 100%;
 	height: 100%;
 	position: absolute;
 	top: 0;
 	left: 0;
 	display: none;
 	z-index: 10;	
 }

 .menu-header {
 	background: linear-gradient(to right, transparent, #035, transparent);
 	font-size: 1em;
 	justify-content: left;
 	align-items: center;
 	display: flex;
 	height: 5vh;
 	padding: 10px;
 }

 .menu-container {
 	font-size: 1em;
 	margin-left: 5%;
 	margin-right: 5%;
 	height: 90vh;
	overflow-y: hidden;
 }

 .menu-footer {
 	background: linear-gradient(to right, transparent, #035, transparent);
 	font-size: 1em;
 	justify-content: space-between;
 	align-items: center;
 	display: flex;
 	height: 5vh;
 	padding: 10px;
 }

 #settingsContainer {
 	background-color: #023;
 	align-items: start;
 	justify-content: center;
 	text-align: center;
 	position: relative;
 	display: flex;
 }

 #logContainer {
 	background-color: #26262c;
 	white-space: wrap;
 	overflow-wrap: break-word;
 	padding: 10px;
	font-size: 0.7em;
	overflow-y: hidden;
 }

 .epgDate {
 	width: 15%;
 	text-align: start;
 	overflow: hidden;
 	white-space: pre;
 }

 .epgTitle {
 	width: 80%;
 	text-align: start;
 	overflow: hidden;
 	white-space: pre;
 	text-overflow: ellipsis;
 }

 .container-item {
 	padding: 10px;
 	align-items: center;
 	justify-content: space-between;
 	display: flex;
 	cursor: pointer;
 	transition: background 0.15s ease;
 	font-size: 0.9em;
 }

 .container-item span {	
	align-items: center;
 	text-align: start;
 }

 .container-item.selected {
 	background: linear-gradient(to right, #069, transparent);
 }

 .container-item.selected span {
 	color: #FFF;
 }

 .progicon {
	object-fit: contain;
 	overflow: hidden;
 	white-space: pre;
 }

 .prognum {
 	width: 5%;
 	overflow: hidden;
 	white-space: pre;
 }

 .progname {
 	width: 25%;
 	overflow: hidden;
 	white-space: pre;
 	text-overflow: ellipsis;
 }

 .prog {
 	width: 60%;
 	padding-left: 10px;
 	background: transparent;
 	border-radius: 25px;
 	background-origin: padding-box;
 	overflow: hidden;
 	white-space: pre;
 	text-overflow: ellipsis;
 }

 .modal-content {
	display: flex;
	flex-direction: column;	
	height: 100%;
	align-items: center;
 	justify-content: center;
	text-align: center;	
 }

 button {
 	margin: 20px;
 	color: #FFF;
 	background-color: #069;
 	border: 1px solid #FFF;
 }

 .input:not([type="radio"]) {
 	width: 100px;
 	font-size: 1em;
 	text-align: center;
 }


 input:focus:not([type="radio"]),
 button:focus {
 	outline: none !important;
 	border: inset 1px solid #000;
 	box-shadow: 0 0 10px 5px #0FF;
 }

 .row {
 	padding: 10px;
 	display: flex;
 	align-items: center;
 }

 .left {
 	font-size: 0.7em;
 	width: 25%;
 	text-align: start;
 }